<h1>Welcome Back Comic Lover</h1>
<br>
<br>
<form class="" action="/login" method="post">
<label for="username">Username:</label>
<input type="text" name="username" id="username" value="">
<br>
<br>
<label for="password">Password:</label>
<input type="text" name="password" id="password" value="">
<br>
<br>
<input type="submit" value="LOG IN TO YOUR UNIVERSE">
</form>
<br>
<br>
<form action="/" method="get">
<input type="submit" value="BACK">
</form>