<h1>Welcome Story Teller</h1>
<br>
<br>
<form class="" action="/login" method="post">
<label for="username">Username:</label>
<input type="text" name="username" id="username" value="">
<br>
<br>
<label for="password">Password:</label>
<input type="text" name="password" id="username" value="">
<br>
<br>
<input type="submit" value="Login to your story">
</form>
<br>
<br>
<a href="/">Back</a>