<h1>Welcome Story Teller</h1>
<br>
<br>
<form class="" action="/login" method="post">
<label for="username">Username:</label>
<input type="text" name="username" id="username" value="">


</form>
<br>
<br>
<a href="/">Back</a>