<h1>Welcome To Comic U's Sign Up</h1>
<br>
<h2>Please Fill Out The Form And Create Your Own Universe</h2>

<form class="" action="/new" method="post">
<label for="username">Username: </label>
<input type="text" name="username" value="">
<br>
<br>
<label for="image_url">Image URL: </label>
<input type="text" name="image_url" value="">
<br>
<br>
<label for="bio">Bio:</label>
<textarea name="bio" style="width:auto; height:auto;"></textarea>
<br>
<br>
<label for="username">Password: </label>
<input type="text" name="password" value="">
<br>
<br>
<input type="submit" value="YOUR STORY STARTS HERE">
</form>
<br>
<br>
<li><a href="/">Back </a>

