<h1>Comic Hub</h1>
<br>
<br>
<% @comics.each do |comic| %>
 <h2><a href="/comics/<%= comic.id%>"><br><%= comic.title %></a><h2><br>
 <img src="<%= comic.image_url %>" alt="<%comic.title %>" height ="150" width="150"><br>
 <h3><%= comic.blurb%></h3>
 <br>
 <br>
 <% end %>
 <br> 


