<h1>Welcome To Comic Lab</h1>
<br>
<h2>Create Your Story For The World To Read</h2>

<form action="/comics" method="post">
<label>Title: </label>
<input type="text" name="title" value="">
<br>
<br>
<label>Image_Url: </label>
<input type="text" name="image_url" value="">
<br>
<br>
<label>Blurb: </label>
<textarea name="blurb" style="width:auto; height:auto;"></textarea>
<br>
<br>
<br>
<input type ="submit" id="submit" value="Create Story">
</form>
<br>







